@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
.nav {
background:#b15eff;
height:100px;
display: flex;
align-items: center;
}
.nav h1{
    margin-left: 6px;
    display: flex;
    align-items: center;
    color: #fff8c9;

    font-family: 'Caveat', cursive;

}
.nav p{
    margin-left: 6em;
    color:#fff8c9
}
.nav input{
    border-radius: 15px;
    margin-left: 15em;
    width: 30em;
}
.nav img{
    width: 10%;

}
.banner img{
  display: flex;
  justify-content: center;
}